QMainWindow, QWidget {
    background-color: #EEF1E6; 
    font-family: "Segoe UI", "Roboto", sans-serif;
    color: #333333; 
}

QLabel {
    font-size: 14px;
    font-weight: 500;
    color: #587085;
}

QLabel#Header {
    font-size: 18px;
    font-weight: bold;
    color: #799FCB;
}


QPushButton {
    background-color: #799FCB; 
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

QPushButton:hover {
    background-color: #95B4CC; 
}

QPushButton:pressed {
    background-color: #5A7ABF;
}

/* DANGER / STOP BUTTON */
QPushButton#DangerButton {
    background-color: #F9665E; /* Pastel Red */
    color: white;
}

QPushButton#DangerButton:hover {
    background-color: #FEC9C9; /* Light Red */
    color: #F9665E;
}

/* INPUT FIELDS */
QLineEdit, QSpinBox, QDoubleSpinBox {
    background-color: #FFFFFF;
    border: 2px solid #AFC7D0; /* Pastel Blue */
    border-radius: 4px;
    padding: 6px;
    color: #333333;
    selection-background-color: #799FCB;
}

QLineEdit:focus {
    border: 2px solid #799FCB; /* Highlight focus */
}

/* PROGRESS BAR (For Conductivity Readings) */
QProgressBar {
    border: 1px solid #AFC7D0;
    border-radius: 4px;
    text-align: center;
    background-color: #FFFFFF;
    color: #333333;
}

QProgressBar::chunk {
    background-color: #799FCB;
    width: 20px;
}